<h3>图片库<button class="btn btn-outline-primary ml-3">新建</button></h3>
<hr>
<form action="/admin/photo/upload" method="post" enctype="multipart/form-data">
	<div class="form-group">
		<input id="fileInput" name="avatar" class="form-control d-block" type="file" accept="image/*" multiple>
		<!-- <div class="uploadArea" id="dropbox">
			<p class="mb-1 mt-4 text-bold">拖拽上传</p>
			<small>or</small>
			<button id="filePick" class="btn btn-outline-info my-3">选择文件</button>
			<small class="text-muted mb-4">图片最大不超过：2MB</small>
		</div> -->
	</div>
	<span id="fileChosen"></span>
	<button class="btn btn-success" type="submit">上传</button>
</form>

<hr>
<div class="bg-white p-3 mb-3 rounded">
	<button id="multiSelect" class="btn btn-outline-info">选择多个</button>
</div>
<div id="actionBox" class="bg-white p-3 mb-3 rounded" style="display: none;">
	<button id="resetSelect" class="btn btn-outline-primary mr-2">撤销选择</button>
	<button id="confirmDelete" class="btn btn-danger">确认删除</button>
</div>
<div class="photo-area">
	<% for (var i=0; i<photos.length; i++) {%>
      <div class="d-flex flex-column justify-content-center align-items-center float-left m-3 " style="width: 138px;">
        <div class="photo-lib-img-box float-left mb-3 pickedPhoto">
          <img class="<% if (photos[i].wider) {%>wider-img<%} else {%>higher-img<%}%>" src="<%=photos[i].src%>" alt="<%=photos[i].originalname%>">
        </div>
        <img src="/image/check.svg" class="checkMark" style="display: block; opacity: 0">
      </div>
    <%}%>
</div>


</div>