<h3>新建分类</h3>
<hr>
<form action="" method="get">
	<div class="form-group row">
		<div class="col-sm-4">
			<input type="text" class="form-control" placeholder="分类名称" name='category'>
		</div>
	</div>
	<div class="form-group row">
		<div class="col-sm-4">
			<input type="text" class="form-control" placeholder="分类简称" name='slug'>
		</div>
	</div>
	<div class="row">
		<button class="btn btn-success ml-sm-3">保存</button>
	</div>
</form>

<hr>

<h3>分类列表</h3>
<hr>
<table class="table table-hover mt-3 bg-white">
	<thead class="bg-primary text-white">
		<tr>
			<td scope="col">#</td>
			<td scope="col">category</td>
			<td scope="col">date</td>
		</tr>
	</thead>
	<tbody class="text-secondary">
		<tr>
			<td scope="row">1</td>
			<td><a href="#" class="list-none">quick start</a></td>
			<td>2018-02-02</td>
		</tr>
		<tr>
			<td scope="row">2</td>
			<td><a href="#">edns</a></td>
			<td>2018-02-02</td>
		</tr>
		<tr>
			<td scope="row">3</td>
			<td><a href="#">edns</a></td>
			<td>2018-02-02</td>
		</tr>
	</tbody>
</table>

</div>