
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="http://localhost:3000">Edns</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a href="/admin/logout" class="nav-link">你好 <%=name%>, 退出</a>
      </li>
    </ul>
  </div>
</nav>

<div class="left-sidebar bg-dark">
    <button class="btn btn-dark btn-block text-left d-flex justify-content-between align-items-center py-3" type="button">
    <span class="d-flex align-items-center pl-2"><img class="mr-2" width="16" height="16" src="/image/book.svg" alt="content-icon">控制面板</span>
    <svg viewBox="0 0 926.23699 573.74994" version="1.1" x="0px" y="0px" width="10" height="10" 
          class="">
      <g transform="translate(904.92214,-879.1482)">
        <path d="m -673.67664,1221.6502 -231.2455,-231.24803 55.6165,
          -55.627 c 30.5891,-30.59485 56.1806,-55.627 56.8701,-55.627 0.6894,
          0 79.8637,78.60862 175.9427,174.68583 l 174.6892,174.6858 174.6892,
          -174.6858 c 96.079,-96.07721 175.253196,-174.68583 175.942696,
          -174.68583 0.6895,0 26.281,25.03215 56.8701,
          55.627 l 55.6165,55.627 -231.245496,231.24803 c -127.185,127.1864
          -231.5279,231.248 -231.873,231.248 -0.3451,0 -104.688,
          -104.0616 -231.873,-231.248 z
        " fill="currentColor">
        </path>
      </g>
    </svg>
  </button>
  <div class="child-item">
      <a href="#" class="child-link btn btn-dark btn-block text-left d-flex align-items-center"><span class="child-name">有话好好说</span><span class="triangle"></span></a>
      <a href="#" class="child-link btn btn-dark btn-block text-left d-flex align-items-center"><span class="child-name">手机</span><span class="triangle"></span></a>
      <a href="#" class="child-link btn btn-dark btn-block text-left d-flex align-items-center"><span class="child-name">甲方乙方</span><span class="triangle"></span></a>
      <hr>
  </div>
  <button class="btn btn-dark btn-block text-left d-flex justify-content-between align-items-center py-3" type="button">
    <span class="d-flex align-items-center pl-2"><img class="mr-2" width="16" height="16" src="/image/book.svg" alt="content-icon">内容管理</span>
    <svg viewBox="0 0 926.23699 573.74994" version="1.1" x="0px" y="0px" width="10" height="10" 
          class="">
      <g transform="translate(904.92214,-879.1482)">
        <path d="m -673.67664,1221.6502 -231.2455,-231.24803 55.6165,
          -55.627 c 30.5891,-30.59485 56.1806,-55.627 56.8701,-55.627 0.6894,
          0 79.8637,78.60862 175.9427,174.68583 l 174.6892,174.6858 174.6892,
          -174.6858 c 96.079,-96.07721 175.253196,-174.68583 175.942696,
          -174.68583 0.6895,0 26.281,25.03215 56.8701,
          55.627 l 55.6165,55.627 -231.245496,231.24803 c -127.185,127.1864
          -231.5279,231.248 -231.873,231.248 -0.3451,0 -104.688,
          -104.0616 -231.873,-231.248 z
        " fill="currentColor">
        </path>
      </g>
    </svg>
  </button>
  <div class="child-item">
      <a href="#" class="child-link btn btn-dark btn-block text-left d-flex align-items-center"><span class="child-name">有话好好说</span><span class="triangle"></span></a>
      <a href="#" class="child-link btn btn-dark btn-block text-left d-flex align-items-center"><span class="child-name">手机</span><span class="triangle"></span></a>
      <a href="#" class="child-link btn btn-dark btn-block text-left d-flex align-items-center"><span class="child-name">甲方乙方</span><span class="triangle"></span></a>
      <hr>
  </div>
  <button class="btn btn-dark btn-block text-left d-flex justify-content-between align-items-center py-3" type="button">
    <span class="d-flex align-items-center pl-2"><img class="mr-2" width="16" height="16" src="/image/box.svg" alt="media-icon">媒体管理</span>
    <svg viewBox="0 0 926.23699 573.74994" version="1.1" x="0px" y="0px" width="10" height="10" 
          class="">
      <g transform="translate(904.92214,-879.1482)">
        <path d="m -673.67664,1221.6502 -231.2455,-231.24803 55.6165,
          -55.627 c 30.5891,-30.59485 56.1806,-55.627 56.8701,-55.627 0.6894,
          0 79.8637,78.60862 175.9427,174.68583 l 174.6892,174.6858 174.6892,
          -174.6858 c 96.079,-96.07721 175.253196,-174.68583 175.942696,
          -174.68583 0.6895,0 26.281,25.03215 56.8701,
          55.627 l 55.6165,55.627 -231.245496,231.24803 c -127.185,127.1864
          -231.5279,231.248 -231.873,231.248 -0.3451,0 -104.688,
          -104.0616 -231.873,-231.248 z
        " fill="currentColor">
        </path>
      </g>
    </svg>
  </button>
  <div class="child-item">
      <a href="#" class="child-link btn btn-dark btn-block text-left d-flex align-items-center"><span class="child-name">图片</span><span class="triangle"></span></a>
      <a href="#" class="child-link btn btn-dark btn-block text-left d-flex align-items-center"><span class="child-name">音频</span><span class="triangle"></span></a>
      <a href="#" class="child-link btn btn-dark btn-block text-left d-flex align-items-center"><span class="child-name">视频</span><span class="triangle"></span></a>
      <hr>
  </div>
</div>


  