
<div class="w-75 mx-auto mt-5">
  <h2>编辑文章</h2>
  <hr>
  <form method='post' action='/publish'>
    <div class="form-group">
      <input name="title" type="text" class="form-control">
    </div>
    <div class="form-group">
      <input name="category" type="text" class="form-control">
    </div>
    <div class="form-group">
      <label for="exampleFormControlFile1">Example file input</label>
      <textarea name="post" type="textarea" class="form-control" id="exampleFormControlFile1" rows="28"></textarea>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary">发表</button>
    </div>
  </form>
</div>
